.social-link {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    padding-top: 5px;
}
.social-icon {
  height: 70px;
  display: flex;
	margin-bottom: 30px;
}
.social-link a {

    color: #150050;
    height: 120px;
width: 70px;
margin: 10px;
spacing:30px;
    display: inline-block;
    transition: all 0.5s ease;
}

.social-link a:hover {
    color:#FF6B6B;
}
