footer {
    padding: 70px 15px;
    background-color: #150050;

}



}

.copyright {
  background-color: #3F0071;
    border-top: 1px solid #423940;
    padding: 15px;
}

.copyright p {
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: rgb(236, 241, 250);
}
